td{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 3px;
    outline: none;
}

input[type="text"]{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 3px;
    text-align: center;
    outline: none;
}

body{
    margin: 3px;
}

.outMatrixs{
    margin: 3px 0;
}